/*--- Navbar Buttons ---*/

/* From Uiverse.io by ArturCodeCraft */ 

.menu__link {
  line-height: 2;
  position: relative;
  cursor: pointer;
  font-weight: 600;
  transition: font-weight ease .4s;
}

.menu__link:hover {
  font-weight: 800;
}

.menu__link::before {
  content: '';
  width: 0;
  height: 2px;
  border-radius: 2px;
  position: absolute;
  bottom: 4px;
  left: 0;
  transition: width .4s;
}

.menu__link:hover::before {
  width: 100%;
}


/*--- Contact Button ---*/

/* From Uiverse.io by alexmaracinaru */ 
.contact {
  position: relative;
  margin: auto;
  padding: 12px 18px 4px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.contact:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.contact span {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.contact:hover:before {
  width: 100%;
  border-radius: 12px;
}

.contact:active {
  transform: scale(0.95);
}